.movie-detail
  &__main-info
    width 50%
  &__extra-info
    width 50%
  &__wrapper
    display flex
    align-items center
    align-content center
    justify-content center
    flex-direction column
    text-align center
  &__field
    display block
    &.-primary
      .movie-detail__field-value
        font-size 1.8em
        padding 15px 10px
    &.-inline
      display inline-block
    &.-description
      font-size 1.1em
      padding 45px 15px
    &.-img
      padding 30px
      padding-bottom 5px
  &__field-key
    font-size 0.8em
    color #545454
  &__field-value
    font-size 1em
  &__list
    padding 0
    margin 0
  &__list-item
    list-style none
    display inline
    padding 5px
    font-size 0.8em

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px),
only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1),
only screen and (min-device-width : 375px) and (max-device-width : 667px),
only screen and (min-device-width : 414px) and (max-device-width : 736px),
only screen and (min-device-width : 320px) and (max-device-width : 568px),
only screen and (min-device-width : 320px) and (max-device-width : 480px)

  .movie-detail
    &__main-info
      width 100%
