.movies-search
  &__label
    &.-hidden
      display none

  &__input
    width 100%
    padding 12px 6px
    border 1px solid #ced4da
    box-sizing content-box
    font-size 1em
    line-height 1.1em
