.movies-list
  display flex
  flex-direction row
  flex-wrap wrap
  &__item
    display inline-block
    padding 15px

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px),
only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1),
only screen and (min-device-width : 375px) and (max-device-width : 667px),
only screen and (min-device-width : 414px) and (max-device-width : 736px),
only screen and (min-device-width : 320px) and (max-device-width : 568px),
only screen and (min-device-width : 320px) and (max-device-width : 480px)

  .movies-list
    text-align center
    &__item
      width 100%
