@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700')
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

html, body
  color #2a2a2a
  font-size 16px
  font-weight normal
  font-style normal
  height 100%
  margin 0
  padding 0

body
  font-family 'Roboto', sans-serif
  font-weight 500
